// ====== Color Palette ======
// Neutral
/* HajTeX: Ink */
@white: #ffffff;
@neutral-10: #e5e5e8;
@neutral-20: #cdccd3;
@neutral-30: #b3b2bc;
@neutral-40: #9b99a6;
@neutral-50: #817f90;
@neutral-60: #68667a;
@neutral-70: #4f4c63;
@neutral-80: #36334d;
@neutral-90: #1d1937;

// Green
/* HajTeX: Teal (offset by 10 to be lighter) */
@green-10: #cdf0ee;
@green-20: #9be1dd;
@green-30: #68d3cb;
@green-40: #36c4ba;
@green-50: #04b5a9;
@green-60: #039187;
@green-70: #026d65;

// Blue
/* HajTeX: Blue */
@blue-10: #a7cdfb;
@blue-20: #a7cdfb;
@blue-30: #7ab5f8;
@blue-40: #4e9cf6;
@blue-50: #2283f4;
@blue-60: #1b69c3;
@blue-70: #0e3462;

// Red
/* HajTeX: Pink */
@red-10: #fae2ef;
@red-20: #f5c4e0;
@red-30: #efa7d0;
@red-40: #ea89c1;
@red-50: #e56cb1;
@red-60: #b7568e;
@red-70: #89416a;

// Yellow
/* HajTeX: Orange */
@yellow-10: #fdead3;
@yellow-20: #fbd4a7;
@yellow-30: #f8bf7a;
@yellow-40: #f6a94e;
@yellow-50: #f49422;
@yellow-60: #c3761b;
@yellow-70: #925914;

// ====== Commonly used variable names ======
// (all should be based on color palette above)
@gray-darker: @neutral-90;
@gray-dark: @neutral-70;
@gray: @neutral-60;
@gray-light: @neutral-40;
@gray-lighter: @neutral-30;
@gray-lightest: @neutral-10;

@blue: @blue-50;
@blue-dark: @blue-60;
@green: @green-50;
@green-dark: @green-60;
@green-darker: @green-70;
@red: @red-50;
@orange: @yellow-40;
@orange-dark: @yellow-60;

@brand-primary: @green;
@brand-secondary: @green-darker;
@brand-success: @green;
@brand-info: @blue;
@brand-warning: @orange;
@brand-danger: @red;

@accent-color-secondary: @green-darker;
@color-disabled: @neutral-20;

// == Content ==
// on light background
@content-primary-on-light-bg: @neutral-90;
@content-secondary-on-light-bg: @neutral-70;
@content-disabled-on-light-bg: @neutral-40;
@content-placeholder-on-light-bg: @neutral-50;
// on dark background
@content-primary-on-dark-bg: @white;
@content-secondary-on-dark-bg: @neutral-20;
@content-disabled-on-dark-bg: @neutral-60;
@content-placeholder-on-dark-bg: @neutral-50;
// default
@content-primary: @content-primary-on-light-bg;
@content-secondary: @content-secondary-on-light-bg;
@content-disabled: @content-disabled-on-light-bg;
@content-placeholder: @content-placeholder-on-light-bg;

// == Website Redesign ==
@ceil: #9597c9;
@caramel: #f9d38f;
@dark-jungle-green: #0f271a;
@malachite: #13c965;
@sapphire-blue: #4354a3;
@sapphire-blue-dark: #3c4c93;
@vivid-tangerine: #f1a695;

// == ol-* legacy variables ==
// These will eventually be removed and replaced with above names
@ol-type-color: @content-secondary;
@ol-blue-gray-0: @neutral-10;
@ol-blue-gray-1: @neutral-20;
@ol-blue-gray-2: @neutral-40;
@ol-blue-gray-3: @neutral-60;
@ol-blue-gray-4: @neutral-70;
@ol-blue-gray-5: @neutral-80;
@ol-blue-gray-6: @neutral-90;
@ol-green: @green-50;
@ol-dark-green: @green-darker;
@ol-darker-green: @green-darker;
@ol-blue: @blue-50;
@ol-dark-blue: @blue-dark;
@ol-red: @red-50;
@ol-dark-red: @red-60;
