PasswordAuthentication yes
PermitEmptyPasswords no
KbdInteractiveAuthentication no
UsePAM yes
X11Forwarding no
PrintMotd no
AcceptEnv LANG LC_*
Subsystem	sftp	internal-sftp
PubkeyAuthentication yes
AuthorizedKeysFile .ssh/authorized_keys

Match Group hajtex
    ChrootDirectory /downloads
    ForceCommand internal-sftp 
    AllowTcpForwarding no
    X11Forwarding no
    PasswordAuthentication yes
    PubkeyAuthentication yes
    AuthorizedKeysFile .ssh/authorized_keys